@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  }